.CharacterCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
}

#characterCardContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    padding: 10px;
    justify-content: space-around;
    margin-bottom: 50px;
}

@media (max-width: 500px) {
    #characterCardContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 400px) {
    #characterCardContainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.characterData {
    color: rgb(78, 173, 197);
    max-width: 200px;
    font-size: small;
}

@media (max-width: 500px) {
    .characterData {
        font-size: xx-small;
    }
}

.charAvatar {
    max-width: min(max(10px, 30vw), 150px);
    height: auto;
    margin: 10px;
    border: 6px solid rgb(78, 173, 197);
    border-radius: 10px;
    transition: transform .2s;
}

.charAvatar:hover {
    transform: scale(1.85);
}

@media (max-width: 500px) {
    .charAvatar:hover {
        transform: scale(1.6);
    }
}

@media (max-width: 400px) {
    .charAvatar:hover {
        transform: scale(1.85);
    }
}

#buttons {
    margin-bottom: 20px;
}